@import "../abstracts/global.scss";

@mixin section-header($textColor, $bgColor) {
  width: 100%;
  height: 20vh;
  background-color: $bgColor;

  /* Flexbox stuff */
  display: flex;
  align-items: center;

  h1 {
    color: $textColor;
    padding-left: 5%;
  }
}

.dark-header {
  @include section-header($light, $dark-purple);
}
