@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: ArchivGrotesk;
	src: url("../public/fonts/ArchivGroteskTrial-RegularTrial.otf");
}
body {
	margin: 0;
	font-family: ArchivGrotesk, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
